
| We received your request to reset your Impacti password.

| Click #{clientBaseUrl}/password_update/#{verificationCode} to reset your password.

| If you experience issues reseting it or you didn’t send this request, please contact us at discover@impacti.solutions
                               
| Thanks!

| The Impacti Team