.organizationBackground {
  min-height: calc(100vh - 320px);
  border: 1px solid transparent;
  margin: 30px;
  padding: 30px;
}

.organizationHeader {
  font-size: 38px;
  font-weight: 300;
  text-align: center;
  padding-top: 35px;
}

.organizationFooter {
  text-align: right;
  margin: 30px;
}
