
| You have just changed your Impacti password.

| If you experience issues logging in or you didn’t send this request, please contact us at discover@impacti.solutions
                               
| Thanks!

| The Impacti Team