
| We received your request to join Impacti CONNECT – a global community of SDG business leaders.

| To confirm your registration, paste this link in your browser: #{clientBaseUrl}/hello/#{verificationCode}

| We invite you to enjoy a free 3-month “Early Adopter’s” trial period.

| If you experience issues signing in or you didn’t send this request, please contact us at discover@impacti.solutions
                               
| Thanks!

| The Impacti Team